:root {
    --blue: #23b5c2ff;
    --black: #24252a;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    color: #ffffff;
}

/* nav links at the top of the page */
li, a {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    background-color: var(--black);
}

/* nav links at the top of the page */
header { 
    display: flex;
    justify-content: right;
    padding: 2% 5%;
    font-size: 30px;
    background-color: var(--black);
}

/* nav links at the top of the page */
.header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

/* Background image */
.bg-image {
    background-size: 100%;
    background-image: url(./images/icerink.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 15%;
    padding-bottom: 15%;
}

/* Also background image */
.bg-image { 
    background: url(./images/icerink.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(46, 45, 44, 0.701);
    background-blend-mode: multiply;
    width: 100%;
}
.pfp {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
/* Main content section (Hello my name is patrick) */
.content {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    font-size: 40px;
    text-shadow: 2px 2px 4px orange;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

/* "Patrick Ross" in main content */
h1 {
    background-color: rgba(0, 0, 0, 0);
    font-size: 70px;
}

/* Hello my name is */
h3 {
    background-color: rgba(0, 0, 0, 0);
    font-size: 40px;
}

/* I am a full stack student */
h4 {
    background-color: rgba(0, 0, 0, 0);
    font-size: 30px;
}

/* Main profile picture */
img {
    border-radius: 50%;
    max-width: 300px;
    height: auto;
    background-color: rgba(46, 45, 44, 0.701);
    background-blend-mode: multiply;
    margin: 20px;
    width: calc(50% - 40px);
    height: calc(50% - 40px);
}

/* Main text */
.main-info {
    background-color: var(--black);
    display: block;
}

/* about me Subheader */
.about-me {
    font-size: 30px;
    text-shadow: 2px 2px 4px orange;
    text-align: right;
    margin-right: 5%;
}

/* links Subheader */
.links {
    font-size: 30px;
    text-shadow: 2px 2px 4px orange;
    text-align: right;
    margin-right: 5%;
}

/* Work Subheader */
.works {
    font-size: 30px;
    text-shadow: 2px 2px 4px orange;
    text-align: left;
    margin-left: 5%;
}

/* Contact me Subheader */
.contact-me {
    font-size: 30px;
    text-shadow: 2px 2px 4px orange;
    text-align: left;
    margin-left: 5%;
}

/* Resume Subheader */
.resume {
    font-size: 30px;
    text-shadow: 2px 2px 4px orange;
    text-align: right;
    margin-right: 5%;
}

/* about me paragraph */
.about-me-para {
    margin: 2%;
    padding: 3%;
    box-sizing: border-box;
    text-align: center;
    background-color: #4b4c4f;
    border-radius: 25px;
    margin-left: 40%;
}

/* works paragraph */
.works-para {
    margin: 2%;
    padding: 3%;
    box-sizing: border-box;
    text-align: center;
    background-color: #4b4c4f;
    border-radius: 25px;
    margin-right: 40%;
}

/* links paragraph */
.links-para {
    margin: 2%;
    padding: 3%;
    box-sizing: border-box;
    text-align: center;
    background-color: #4b4c4f;
    border-radius: 25px;
    margin-left: 40%;
}

/* contact me paragraph */
.contact-me-para {
    margin: 2%;
    padding: 3%;
    box-sizing: border-box;
    text-align: center;
    background-color: #4b4c4f;
    border-radius: 25px;
    margin-right: 40%;
}

/* resume paragraph */
.resume-para {
    padding: 2%;
    box-sizing: border-box;
    text-align: center;
    background-color: #4b4c4f;
    border-radius: 25px;
    margin-left: 40%;
}

.footer {
    background-color: var(--black);
    color: #ffffff;
    text-align: center;
}

.break {
    background-color: var(--black);
}

@media only screen and (max-width:600px) {
    .pfp {
        flex-direction: column;
    }   
}